<html lang="en">
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body>
    <header>
      <%- include ('../partials/header') %>
    </header>
    <div class="container">
      <form
        class="container"
        style="max-width: 40rem;"
        method="post"
        action="/api/newmessage/"
      >
        <input style="display: none;" id="id" name="id" />
        <div class="mb-3">
          <label for="validationDefault01">Your name:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="validationDefault01"
            placeholder="Name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="validationDefault02">Your country:</label>
          <input
            type="text"
            name="country"
            class="form-control"
            id="validationDefault02"
            placeholder="Country"
            required
          />
        </div>
        <input style="display: none;" id="date" name="date" />
        <div class="mb-3">
          <label for="validationDefaultUsername">Message:</label>
          <div class="input-group">
            <textarea
              name="message"
              class="form-control"
              aria-label="With textarea"
              placeholder="Message"
              required
            ></textarea>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">
          Submit form
        </button>
      </form>
      <div id="ajax">
        <p>Success!</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Country</th>
              <th>Date</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(data){ %>
            <tr>
              <td><%= data.username %></td>
              <td><%= data.country %></td>
              <td><%= data.date %></td>
              <td><%= data.message %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
      <footer>
        <%- include ('../partials/footer') %>
      </footer>
    </div>
  </body>
</html>
<script>
  if (<%= data[0].id.length %> == 0) {
      document.getElementById('ajax').style.display = "none";
    }
  document.getElementById('date').value = Date();
  document.getElementById('id').value = new Date().getTime();
</script>
